version: "3.9"

services:
  backend:
    container_name: school-backend
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
